In [8]:
import pymongo
import pandas as pd
import numpy as np

In [2]:
con  = pymongo.MongoClient('localhost')

In [6]:
db = con['lagou']
position = db['DataMiningPosition']

In [46]:
data = pd.DataFrame(list(position.find()))

In [47]:
data

,_id,city,companyFullName,companyId,createTime,positionId,positionName,salary
0,5b20b96eecde2d53761abb90,北京,北京三快在线科技有限公司,50702,今天 10:25,2714580,资深数据挖掘工程师/专家,25k-50k
1,5b20b96eecde2d53761abb91,北京,网易（杭州）有限公司,329,2018-06-05,4110363,用户增长实习生-数据挖掘方向,4k-5k
2,5b20b96eecde2d53761abb92,北京,链家网（北京）科技有限公司,55446,昨天 10:31,4621671,数据挖掘工程师,30k-50k
3,5b20b96eecde2d53761abb93,北京,北京数美时代科技有限公司,82991,2018-06-11,4414864,数据挖掘,20k-40k
4,5b20b96eecde2d53761abb95,北京,北京京东世纪贸易有限公司,139755,今天 13:45,2910804,算法&amp;数据挖掘 科学家,25k-50k
5,5b20b96eecde2d53761abb97,北京,北京爱比数据科技有限公司,134421,2018-05-31,4594185,数据挖掘工程师,18k-30k
6,5b20b96eecde2d53761abb99,北京,北京奇艺世纪科技有限公司,1686,昨天 17:08,2116208,数据挖掘,20k-35k
7,5b20b96eecde2d53761abb9b,北京,北京闪银奇异科技有限公司,29496,昨天 10:30,4318059,数据挖掘工程师,20k-35k
8,5b20b96eecde2d53761abb9d,成都,成都数联铭品科技有限公司,42711,2018-06-11,3747258,产品经理(数据挖掘）,20k-40k
9,5b20b96eecde2d53761abb9f,北京,北京品友互动信息技术股份公司,194937,2018-05-29,4400072,资深数据挖掘工程师,20k-40k
10,5b20b96eecde2d53761abba1,成都,成都国信安信息产业基地有限公司,88496,今天 13:27,4426443,数据挖掘工程师,9k-18k
11,5b20b96eecde2d53761abba3,上海,上海聚泛信息科技有限公司,143863,2018-06-10,4252849,数据挖掘,15k-20k
12,5b20b96eecde2d53761abba5,北京,北京众荟信息技术股份有限公司,169708,2018-05-24,4620420,数据挖掘高级工程师,15k-21k
13,5b20b96eecde2d53761abba7,北京,新华网股份有限公司,6364,2018-06-11,2770809,NLP/数据挖掘工程师,13k-18k
14,5b20b96eecde2d53761abbaa,深圳,深圳小步网络科技有限公司,130397,今天 09:35,4331772,数据挖掘工程师（推荐方向）,20k-40k
15,5b20b96eecde2d53761abbab,成都,咪咕文化科技有限公司,213786,2018-06-07,4227904,数据挖掘工程师,15k-30k
16,5b20b96eecde2d53761abbae,北京,百度在线网络技术（北京）有限公司,1575,2018-05-30,4103974,数据挖掘开发工程师,15k-30k
17,5b20b96eecde2d53761abbaf,成都,科学出版社成都有限责任公司,103479,今天 09:23,2713932,数据挖掘应用工程师,10k-16k
18,5b20b96eecde2d53761abbb2,上海,上海初生网络科技有限公司,40729,2018-06-06,3983552,数据挖掘工程师,12k-24k
19,5b20b96eecde2d53761abbb3,北京,北京搜狐新媒体信息技术有限公司,106303,2018-06-11,4364335,数据挖掘经理,15k-30k
20,5b20b96eecde2d53761abbb6,北京,北京字节跳动科技有限公司,62,2018-06-03,4049867,数据挖掘算法工程师-反作弊方向,25k-50k
21,5b20b96eecde2d53761abbb7,北京,北京阳光第一车网科技有限公司,3024,2018-06-11,3979699,数据挖掘工程师,18k-30k
22,5b20b96eecde2d53761abbba,上海,上海宏路数据技术股份有限公司,24102,今天 09:56,1890132,数据挖掘,15k-30k
23,5b20b96eecde2d53761abbbb,北京,北京陌陌科技有限公司,129,2018-06-04,449812,数据挖掘工程师,20k-40k
24,5b20b96eecde2d53761abbbd,上海,德佑房地产经纪有限公司,35713,2018-06-03,1747326,数据挖掘工程师,15k-25k
25,5b20b96eecde2d53761abbbf,北京,奇虎360科技有限公司,436,2018-05-18,4137850,数据挖掘工程师,20k-40k
26,5b20b96eecde2d53761abbc1,武汉,武汉魅瞳科技有限公司,265439,2018-06-11,3864928,AI 数据挖掘工程师,8k-16k
27,5b20b96eecde2d53761abbc3,北京,北京字节跳动科技有限公司,62,2018-06-03,4603682,数据挖掘工程师-用户产品方向,20k-35k
28,5b20b96eecde2d53761abbc5,北京,北京小米科技有限责任公司,520,2018-06-11,4560877,数据挖掘工程师,25k-50k
29,5b20b96eecde2d53761abbc7,上海,视若飞信息科技（上海）有限公司,1141,2018-06-11,4627824,数据挖掘工程师/算法工程师,20k-27k
...,...,...,...,...,...,...,...,...
1013,5b20b974ecde2d53761ac390,上海,百度在线网络技术（北京）有限公司,1575,2018-06-11,4490045,大数据部_数据挖掘工程师（上海）,15k-30k
1014,5b20b974ecde2d53761ac392,深圳,腾讯科技(深圳)有限公司,451,昨天 09:59,3413085,MIG13-APK后台数据挖掘工程师（深圳）,18k-36k
1015,5b20b974ecde2d53761ac394,西安,北京四维图新科技股份有限公司,31590,2018-06-06,4145004,大数据挖掘算法工程师,8k-15k
1016,5b20b974ecde2d53761ac396,南京,江苏鸿信系统集成有限公司,280072,2018-06-04,4207531,大数据挖掘工程师,8k-15k
1017,5b20b974ecde2d53761ac398,成都,北京京东世纪贸易有限公司,18139,2018-06-11,4041015,高级大数据挖掘/算法工程师,25k-50k
1018,5b20b974ecde2d53761ac39a,南京,南京甄视智能科技有限公司,106228,2018-06-09,3712087,大数据挖掘、分析开发工程师,15k-20k
1019,5b20b974ecde2d53761ac39c,北京,北京小米科技有限责任公司,520,昨天 10:51,4263021,大数据挖掘分析工程师,15k-30k
1020,5b20b974ecde2d53761ac39e,上海,即科金融信息服务（上海）有限公司,37850,2018-06-08,4151003,大数据挖掘/人工智能/神经网络算法工程师,20k-40k
1021,5b20b974ecde2d53761ac3a0,广州,广州赛宸信息技术有限公司,101933,2018-05-29,4337188,大数据挖掘主管,25k-35k
1022,5b20b974ecde2d53761ac3a2,北京,北京云海淘金数据技术有限公司,192996,2018-06-04,3012843,大数据挖掘工程师,8k-16k
1023,5b20b974ecde2d53761ac3a4,武汉,星云海数字科技股份有限公司,54450,昨天 09:56,4196953,大数据挖掘,20k-24k
1024,5b20b974ecde2d53761ac3a6,广州,广东奥园奥买家电子商务有限公司,113374,2018-05-24,3891306,大数据挖掘工程师,15k-25k
1025,5b20b974ecde2d53761ac3a8,深圳,顺丰科技有限公司,35996,2018-05-25,4628596,大数据挖掘与分析工程师,18k-35k
1026,5b20b974ecde2d53761ac3aa,深圳,中信银行股份有限公司信用卡中心,26536,昨天 10:51,2142576,大数据挖掘（Spark\机器学习）,20K-40K
1027,5b20b974ecde2d53761ac3ac,深圳,深圳市云积分科技有限公司,21187,2018-06-11,3955762,数据工程师(数据处理/数据挖掘),8k-16k
1028,5b20b974ecde2d53761ac3ae,广州,腾讯科技(深圳)有限公司,451,昨天 09:59,4534306,MIG08-数据挖掘工程师（腾讯WiFi管家）,30k-60k
1029,5b20b974ecde2d53761ac3b0,北京,北京京东世纪贸易有限公司,18139,昨天 11:53,4443225,数据分析师岗（数据挖掘方向）,15k-25k
1030,5b20b974ecde2d53761ac3b2,上海,即科金融信息服务（上海）有限公司,37850,2018-06-08,4263258,大数据挖掘/人工智能/神经网络算法科学家,80k-100k
1031,5b20b974ecde2d53761ac3b4,南京,南京甄视智能科技有限公司,106228,2018-06-09,4489907,大数据挖掘工程师,15k-30k
1032,5b20b974ecde2d53761ac3b6,北京,北京网信金服信息科技有限公司,278671,2018-05-28,4465640,高级数据分析师（数据挖掘方向）,15k-20k
1033,5b20b974ecde2d53761ac3b8,北京,小船出海教育科技（北京）有限公司,113856,昨天 10:28,4392219,大数据挖掘工程师,15k-25k
1034,5b20b974ecde2d53761ac3ba,深圳,中腾信金融信息服务（上海）有限公司,35112,2018-06-05,4215509,大数据挖掘工程师,18k-35k
1035,5b20b974ecde2d53761ac3bc,上海,上海文什数据科技有限公司,157428,2018-05-14,3849703,大数据挖掘工程师,8k-15k
1036,5b20b974ecde2d53761ac3be,广州,广州汽车集团股份有限公司汽车工程研究院,190401,2018-05-24,4277241,大数据挖掘工程师,10k-15k
1037,5b20b974ecde2d53761ac3c0,北京,北京三刻科技有限公司,157882,2018-05-17,4293485,大数据挖掘技术专家,30K-60K
1038,5b20b974ecde2d53761ac3c2,北京,北京凤凰理理它信息技术有限公司,41483,2018-06-06,3034562,大数据挖掘工程师（风控）,20k-40k
1039,5b20b974ecde2d53761ac3c4,深圳,深圳市博函信息技术有限公司,88593,2018-06-11,4682041,数据分析师（数据挖掘工程师）,7k-14k
1040,5b20b974ecde2d53761ac3c6,深圳,深圳市云积分科技有限公司,21187,2018-05-21,3955746,数据科学家（机器学习 算法研发 数据挖掘）,20k-40k
1041,5b20b974ecde2d53761ac3c8,广州,广州瀚信通信科技股份有限公司,39863,昨天 14:15,4368721,初级数据分析工程师（大数据挖掘方向）,2k-4k
1042,5b20b974ecde2d53761ac3ca,上海,拉扎斯网络科技（上海）有限公司,51480,2018-05-28,3462732,数据分析师（数据挖掘产品）,15k-30k

In [48]:
salary = data['salary']

In [49]:
import re
def salary_filer(x):
    res = re.search(r'(\d+)[kK]-(\d+)[kK]',x)
    if res:
        result = (int(res.group(1)) + int(res.group(2)))/2
        return result

In [50]:
salary_filer('15k-20k')

17.5

In [51]:
salary1 = salary.apply(salary_filer)

In [52]:
def get_range(i):
    if i > 30:
        return '30k以上'
    elif i >= 25:
        return '25k-30k'
    elif i >= 20:
        return '20k-25k'
    elif i >= 15:
        return '15k-20k'
    elif i >= 10:
        return '10k-15k'
    elif i >= 5:
        return '5k-10k'
    else:
        return '5k以下'

In [53]:
salary = salary1.apply(get_range)

In [54]:
salary_pie = salary.value_counts()
salary_pie

25k-30k    300
20k-25k    250
30k以上      229
15k-20k    115
10k-15k     75
5k-10k      40
5k以下        34
Name: salary, dtype: int64

In [43]:
from pyecharts import Pie

attr = salary_pie.index
v1 = salary_pie.values
pie = Pie("数据挖掘薪酬分布图")
pie.add("", attr, v1, is_label_show=True)
pie.render('数据挖掘薪酬分布.html')
pie

In [55]:
data['salary'] = salary1

In [98]:
city_counts = data['city'].value_counts()
city_counts

北京    498
上海    139
深圳    121
杭州     85
广州     69
成都     38
武汉     23
南京     16
厦门      9
福州      6
重庆      6
西安      5
苏州      4
合肥      4
郑州      3
珠海      3
天津      2
青岛      2
佛山      2
长沙      2
济南      1
无锡      1
贵阳      1
东莞      1
南宁      1
太原      1
Name: city, dtype: int64

In [99]:
from pyecharts import Bar

attr = city_counts.index
v1 = city_counts.values

bar = Bar("职位分布图")
bar.add("", attr, v1, is_stack=False)
bar.render('职位分布图.html')
bar

In [60]:
data.groupby('city').mean().sort_values(by='salary',ascending=False)

          companyId    positionId     salary
city
重庆    170509.666667  3.922738e+06  32.000000
北京     64615.630522  3.891809e+06  28.497992
深圳     91252.991736  3.861505e+06  26.078512
上海     86363.661871  3.917663e+06  24.920863
杭州    100543.152941  3.673468e+06  24.264706
广州     68393.188406  4.045580e+06  20.311594
南京     89152.062500  4.059639e+06  20.156250
成都     94132.131579  3.989024e+06  20.039474
青岛    212644.500000  3.185164e+06  18.750000
佛山    242784.000000  4.584072e+06  18.750000
苏州     41657.500000  3.248074e+06  18.000000
厦门    129988.333333  3.893153e+06  17.277778
福州    219113.000000  4.404790e+06  16.833333
武汉    106071.956522  4.144668e+06  15.565217
西安     50533.200000  4.189913e+06  14.000000
长沙     73492.500000  3.898581e+06  13.750000
合肥     89895.250000  4.292856e+06  13.500000
珠海     21007.000000  4.303631e+06  13.166667
济南     17049.000000  3.135498e+06  12.000000
郑州    259585.333333  4.333264e+06  10.666667
贵阳    312628.000000  4.147672e+06   9.000000
南宁    225097.000000  4.199798e+06   9.000000
东莞    180060.000000  2.902948e+06   8.000000
太原      4184.000000  4.600988e+06   7.000000
无锡    233304.000000  4.481845e+06   5.000000
天津     57582.000000  4.358980e+06   3.250000

In [69]:
data.groupby('companyId').size().sort_values(ascending=False)[:10]

companyId
50702     42
451       31
82991     27
1575      25
62        22
153849    21
329       17
520       15
136443    14
18139     13
dtype: int64

In [87]:
data = pd.DataFrame(list(position.find()))

In [88]:
id_data = data['companyFullName'].value_counts()

In [90]:
id_data

北京三快在线科技有限公司          42
腾讯科技(深圳)有限公司          31
北京数美时代科技有限公司          27
百度在线网络技术（北京）有限公司      25
北京字节跳动科技有限公司          22
支付宝(杭州)信息技术有限公司       21
网易（杭州）有限公司            17
北京京东世纪贸易有限公司          15
北京小米科技有限责任公司          15
马上消费金融股份有限公司          14
北京搜狗科技发展有限公司          12
北京陌陌科技有限公司            10
小船出海教育科技（北京）有限公司       9
奇虎360科技有限公司            8
普信恒业科技发展（北京）有限公司       8
北京金山软件有限公司             8
顺丰科技有限公司               8
北京明略软件系统有限公司           7
北京搜狐新媒体信息技术有限公司        7
杭州橙鹰数据技术有限公司           6
北京善义善美科技有限公司           6
新华网股份有限公司              6
北京闪银奇异科技有限公司           6
北京五八到家信息技术有限公司         5
融慧金科金融服务外包（北京）有限公司     5
北京车之家信息技术有限公司          5
唯品会（中国）有限公司            5
北京瓴岳信息技术有限公司           5
浙江天猫技术有限公司             5
厦门美图之家科技有限公司           5
                      ..
京东金融                   1
深圳市新国都技术股份有限公司         1
北京音娱时光科技有限公司           1
中国平安人寿保险股份有限公司         1
中商惠民（北京）电子商务有限公司       1
平安证券股份有限公司             1
上海国凯英计算机科技有限公司         1
上海寻梦信息技术有限公司           1
联通大数据有限公司              1
时趣互动（北京）科技有限公司         1
重庆软维科技有限公司             1
北京精准沟通国际传媒广告有限公司       1
杭州雅拓信息技术有限公司           1
广州市骑鹅游信息技术咨询服务有限公司     1
广州优思得科技有限公司            1
特斯联（北京）科技有限公司          1
重庆橙红信息科技有限公司           1
南京苏宁软件技术有限公司           1
北京蓦然认知科技有限公司           1
上海复深蓝软件股份有限公司          1
四川中清科华云联科技有限公司         1
杭州洋驼网络科技有限公司           1
北京言之有物科技有限公司           1
上海展盟网络科技有限公司           1
厦门筑才建筑工程有限公司           1
易宝支付有限公司               1
广州啦咔网络科技有限公司           1
上海海同优才教育培训有限责任公司       1
深圳晶泰科技有限公司             1
蔷薇控股股份有限公司             1
Name: companyFullName, Length: 521, dtype: int64

In [101]:
df = pd.read_csv('DataMiningPosition.csv',encoding='gbk')

In [105]:
df.to_csv('data.csv')